apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: scribe.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: ReplicationDestination defines the destination for a replicated volume
      displayName: Replication Destination
      kind: ReplicationDestination
      name: replicationdestinations.scribe.backube
      version: v1alpha1
    - description: ReplicationSource defines the source for a replicated volume
      displayName: Replication Source
      kind: ReplicationSource
      name: replicationsources.scribe.backube
      version: v1alpha1
  description: Scribe asynchronously replicates Kubernetes persistent volumes between clusters using either rsync or rclone depending on the number of destinations.
  displayName: scribe-operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - data replication
  links:
  - name: Scribe
    url: https://scribe.domain
  maturity: alpha
  provider:
    name: backube
    url: https://github.com/backube/scribe
  version: 0.0.0
